@import "mixins";
@import "fonts";

body {
  margin: 0;
  color: #273758;
  font: 300 16px "Proxima Nova", sans-serif;

  * {
    @include box-sizing(border-box);
  }
}

// Default // -----------------------------------------------------

img {
  display: block;
  width: 100%;
}

h1 {
  line-height: 1.25em;
  font-weight: 300;
}

h3 {
  line-height: 1.5em;
  font-weight: 300;
}

p {
  line-height: 1.5em;
}

// Components // --------------------------------------------------

.container {
  max-width: 960px;
  padding: 0.1px 15px;
  margin: 0 auto;

  .row {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1em;
    margin-bottom: 1em;

    .col-1 {
      padding: 10px;
    }

    .col-2 {
      float: left;
      width: 50%;
      padding: 10px;
      @include bp-small { width: 100%; }
    }

    .col-3 {
      float: left;
      width: 33.33333%;
      padding: 10px;
      @include bp-small { width: 100%; }
    }

    .col-4 {
      float: left;
      width: 25%;
      padding: 10px;
      @include bp-small { width: 50%; }
    }

    .col-image, .col-content {
      float: right;
      width: 50%;
      padding: 10px;
      @include bp-small { width: 100%; }
    }
  }
}

.btn {
  -webkit-appearance: none;
  height: 36px;
  margin: 0;
  padding: 10px 15px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #273759;
  background-color: transparent;
  border: solid thin #273759;
  @include border-radius(5px);
  cursor: pointer;
  &.rounded {
    @include border-radius(18px);
  }
}

.btn-large {
  @extend .btn;
  height: 48px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 300;
  &.rounded {
    @include border-radius(24px);
  }
}

.btn-color {
  color: #ffffff;
  background-color: #50d869;
  border: none;
}

.list {
  padding-left: 15px;
  li {
    padding: 0.25em 0;
  }
  &.no-style {
    list-style: none;
    padding-left: 0;
  }
}

.bg-color {
  background-color: #f3f5f2 !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

// Head // --------------------------------------------------------

.header {
  height: 90px;
  line-height: 90px;
  background-color: #f3f5f2;

  .logo {
    height: 90px;
    width: 200px;
    background: transparent url(../images/logo.png) left/120px auto no-repeat;
  }

  .nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #7d94b4;
    @include bp-small {
      display: none;
    }
    li {
      float: left;
      padding: 0 15px;
      cursor: pointer;
    }
  }

  .login-button {
    margin-top: 27px;
    @include bp-small {
      display: none;
    }
  }
}

// Main // --------------------------------------------------------

.main {
  .btn {
    @include bp-small {
      display: block;
      margin: 0 auto;
    } 
  }
}

// Footer // ------------------------------------------------------

.footer {
  color: #ffffff;
  background-color: #575757;
}

// Home // --------------------------------------------------------

.home-section-1 {
  min-height: 610px;
  text-align: center;
  background: transparent url(../images/hero.png) no-repeat;
  background-position: center bottom -130px;
  background-size: auto;
  @include bp-small {
    min-height: 510px;
    background-position: center bottom;
    background-size: 100% auto;
  }
}

.home-section-2 {
  .container {
    background: transparent url(../images/p1_section1.png) no-repeat;
  }
}

.home-section-3 {
  .container {
    background: transparent url(../images/p1_section2.png) no-repeat;
  }
}

.home-section-4 {
  .container {
    background: transparent url(../images/p1_section3.png) no-repeat;
  }
}

.home-section-2, .home-section-3, .home-section-4 {
  border-bottom: solid thin #c3cbd6;
  .col-image {
    opacity: 0;
    @include bp-small { opacity: 1; }
  }
  .container {
    background-position: right bottom;
    background-size: 50% auto;
    @include bp-small { background: none; }
  }
}








// Patients // ----------------------------------------------------

.patient-section-1 {
  text-align: center;
  background-color: #f3f5f2;

  .container {
    padding: 40px 15px;

    @include bp-small {
      padding: 0.1px 15px;
    }
  }

  p {
    margin: 30px 0;
  }

  .app-store-button, .google-play-button {
    display: inline-block;
    width: 155px;
    height: 54px;
    margin: 0 5px;
    @include bp-small {
      display: block;
      margin: 5px auto;
    }
  }

  .app-store-button {
    background: transparent url(../images/appstore.png) center no-repeat;
  }

  .google-play-button {
    background: transparent url(../images/googleplay.png) center no-repeat;
  }
}

.patient-section-2, .patient-section-3 {
  background-color: #f3f5f2;
}

.patient-section-2 {
  .container {
    display: table;
    min-height: 420px;
    background: transparent url(../images/p2_a.png) no-repeat;
    background-position: right 15px center;
    background-size: 60% auto;

    @include bp-small {
      min-height: 0;
      padding-top: 260px;
      background-position: center top 40px;
      background-size: auto 200px;
    }

    .content {
      display: table-cell;
      width: 40%;
      padding-right: 60%;
      vertical-align: middle;

      @include bp-small {
        display: block;
        width: 100%;
        padding-right: 0;
      }
    }
  }
}
.patient-section-3 {
  .container {
    display: table;
    min-height: 470px;
    background: transparent url(../images/p2_b.png) no-repeat;
    background-position: right 15px center;
    background-size: 50% auto;

    @include bp-small {
      min-height: 0;
      padding-top: 440px;
      background-position: center top 40px;
      background-size: auto 400px;
    }

    .content {
      display: table-cell;
      width: 50%;
      padding-right: 50%;
      vertical-align: middle;

      @include bp-small {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-bottom: 30px;
      }
    }
  }
}

.patient-section-4 {
  .container {
    padding: 40px 15px;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1em;
    margin-bottom: 1em;
    .col {
      float: left;
      width: 50%;
      padding: 10px 10px;

      @include bp-small {
        width: 100%;
      }

      &:nth-of-type(1) {
        .icon {
          background: #f3f5f2 url('../images/icon1.png') center no-repeat;
        }
      }
      &:nth-of-type(2) {
        .icon {
          background: #f3f5f2 url('../images/icon2.png') center no-repeat;
        }
      }
      &:nth-of-type(3) {
        .icon {
          background: #f3f5f2 url('../images/icon3.png') center no-repeat;
        }
      }
      &:nth-of-type(4) {
        .icon {
          background: #f3f5f2 url('../images/icon4.png') center no-repeat;
        }
      }
    }
  }

  .icon {
    float: left;
    background-color: #f3f5f2;
    @include border-radius(50%);
    width: 120px;
    height: 120px;

    @include bp-small {
      float: none;
      margin: 0 auto 20px;
    }
  }
  .content {
    margin-left: 120px;
    padding: 0 10px 0 20px;

    @include bp-small {
      margin-left: 0;
    }

    h3 {
      margin-top: 0;
    }
  }
}




// Professionals // ----------------------------------------------------

.professionals-section-5,
.professionals-section-6,
.professionals-section-7 {
  border-bottom: solid thin #c4cbd8;
}
