@import "mixins";
@import "fonts";

body {
  margin: 0;
  color: #273758;
  font: 300 16px "Proxima Nova", sans-serif;

  * {
    @include box-sizing(border-box);
  }
}

// Default // -----------------------------------------------------

img {
  display: block;
  width: 100%;
}

h1 {
  line-height: 1.25em;
  font-weight: 300;
}

h3 {
  line-height: 1.5em;
  font-weight: 300;
}

p {
  line-height: 1.5em;
}

// Components // --------------------------------------------------

.container {
  max-width: 960px;
  padding: 0.1px 20px;
  margin: 0 auto;

  .row {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1em;
    margin-bottom: 1em;

    .col-1 {
      padding: 10px;
    }

    .col-2 {
      float: left;
      width: 50%;
      padding: 10px;
      @include bp-small { width: 100%; }
    }

    .col-3 {
      float: left;
      width: 33.33333%;
      padding: 10px;
      @include bp-small { width: 100%; }
    }

    .col-4 {
      float: left;
      width: 25%;
      padding: 10px;
      @include bp-small { width: 50%; }
    }
  }
}

.btn {
  -webkit-appearance: none;
  height: 36px;
  margin: 0;
  padding: 10px 15px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #273759;
  background-color: transparent;
  border: solid thin #273759;
  cursor: pointer;
  @include border-radius(5px);
  &.rounded { @include border-radius(18px); }
}

.btn-large {
  @extend .btn;
  height: 48px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 300;
  &.rounded { @include border-radius(24px); }
}

.btn-color {
  color: #ffffff;
  background-color: #50d869;
  border: none;
}

.list {
  padding-left: 15px;
  &.no-style {
    list-style: none;
    padding-left: 0;
  }

  li {
    padding: 0.25em 0;
  }
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.bg-color {
  background-color: #f3f5f2 !important;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

// Header // ------------------------------------------------------

.header {
  height: 90px;
  background-color: #f3f5f2;

  .logo {
    height: 90px;
    width: 200px;
    background: transparent url(../images/logo.png) left center/120px auto no-repeat;
  }

  .nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 90px;
    color: #7d94b4;
    @include bp-small {
      display: none;
    }

    li {
      float: left;
      padding: 0 15px;
      cursor: pointer;
    }
  }

  .login-button {
    margin-top: 27px;
    @include bp-small {
      display: none;
    }
  }
}

// Main // --------------------------------------------------------

.main {
  .btn {
    @include bp-small {
      display: block;
      margin: 0 auto;
    } 
  }
}

// Footer // ------------------------------------------------------

.footer {
  color: #ffffff;
  background-color: #575757;
}

@import "home";
@import "patients";
@import "professionals";




.partners-section-1 {
  background: transparent url(../images/p4_hero.png) center/cover no-repeat;

  .icon {
    width: 40px;
    margin-right: 20px;
  }
}

.partners-section-2 {
  img {
    width: 70%;
    margin: 0 auto;
    @include bp-small {
      width: 100%;
    }
  }
}
