.demo-section-1 {
  h1 {
    @include bp-small {
      margin-top: 0;
    }
  }

  .btn {
    min-width: 100px;
  }
}

.demo-section-2 {
  h2 {
    margin-bottom: 0;
  }

  p:nth-of-type(1) {
    margin-top: 0;
    margin-bottom: 1.245em;
  }
}
