.patients-section-1 {
  h1 {
    @include bp-small {
      margin-top: 0;
    }
  }

  .app-store-button, .google-play-button {
    display: inline-block;
    width: 155px;
    height: 54px;
    margin: 1em 0;
    cursor: pointer;
    @include bp-small {
      display: block;
      margin: 5px auto;
    }
  }

  .app-store-button {
    background: transparent url(../images/appstore.png) center no-repeat;
  }

  .google-play-button {
    background: transparent url(../images/googleplay.png) center no-repeat;
  }
}

.patients-section-2 {
  .col-2:nth-of-type(1) {
    width: 60%;
    @include bp-small { width: 100%; }
  }
  .col-2:nth-of-type(2) {
    width: 40%;
    padding-top: 50px;
    @include bp-small { 
      width: 100%; 
      padding-top: 10px;
    }
  }
}

.patients-section-3 {
  .col-2:nth-of-type(2) {
    padding-top: 50px;
    @include bp-small { 
      padding-top: 10px;
    }
  }
}

.patients-section-4 {
  .icon {
    float: left;
    @include bp-small {
      float: none;
      margin: 0 auto 20px;
    }
  }

  .content {
    margin-left: 95px;
    padding: 0 20px 0 40px;
    @include bp-small {
      margin-left: 0;
      padding: 0;
    }

    h3 { margin-top: 0; }
  }
}
