.patients-section-1 {
  .app-store-button, .google-play-button {
    display: inline-block;
    width: 155px;
    height: 54px;
    @include bp-small {
      display: block;
      margin: 5px auto;
    }
  }

  .app-store-button {
    background: transparent url(../images/appstore.png) center no-repeat;
  }

  .google-play-button {
    background: transparent url(../images/googleplay.png) center no-repeat;
  }
}

.patients-section-2 {
  .col-2:nth-of-type(1) {
    width: 60%;
    @include bp-small { width: 100%; }
  }
  .col-2:nth-of-type(2) {
    width: 40%;
    padding-top: 50px;
    @include bp-small { 
      width: 100%; 
      padding-top: 10px;
    }
  }
}

.patients-section-3 {
  .col-2:nth-of-type(2) {
    padding-top: 50px;
    @include bp-small { 
      padding-top: 10px;
    }
  }
}

.patients-section-4 {
  .col-2 {
    &:nth-of-type(1) {
      .icon {
        background: #f3f5f2 url('../images/icon1.png') center no-repeat;
      }
    }
    &:nth-of-type(2) {
      .icon {
        background: #f3f5f2 url('../images/icon2.png') center no-repeat;
      }
    }
    &:nth-of-type(3) {
      .icon {
        background: #f3f5f2 url('../images/icon3.png') center no-repeat;
      }
    }
    &:nth-of-type(4) {
      .icon {
        background: #f3f5f2 url('../images/icon4.png') center no-repeat;
      }
    }
  }

  .icon {
    float: left;
    width: 120px;
    height: 120px;
    background-color: #f3f5f2;
    @include border-radius(50%);
    @include bp-small {
      float: none;
      margin: 0 auto 20px;
    }
  }

  .content {
    margin-left: 120px;
    padding: 0 20px;
    @include bp-small {
      margin-left: 0;
    }

    h3 { margin-top: 0; }
  }
}
