.professionals-section-10 {
  .quote {
    margin: 0 1em;
  }

  .open-quote {
    margin-bottom: 0;
    font-size: 5em;
    line-height: 0;
  }

  .close-quote {
    margin-top: 0;
    margin-bottom: -50px;
    text-align: right;
    font-size: 5em;
    line-height: 1em;
  }
}

.professionals-section-11 {
  .price-panel-basic {
    position: relative;
    min-height: 610px;
    margin-left: 20%;
    background-color: #ffffff;
    border: solid thin #c4cbd8;
    @include bp-small {
      min-height: 0;
      margin-left: 0;
    }

    .head {
      padding: 1px 0;
      background-color: #f3f5f2;
    }
  }

  .price-panel-paid {
    position: relative;
    min-height: 610px;
    margin-right: 20%;
    background-color: #ffffff;
    border: solid thin #c4cbd8;
    @include bp-small {
      min-height: 0;
      margin-right: 0;
    }

    .head {
      padding: 1px 0;
      background-color: #c4cbd8;
    }

    .btn-color {
      background-color: #57a6fd;
    }
  }

  .specs {
    padding: 0 20px 110px;
  }

  .foot {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
  }
}
