@font-face {
  font-family: Proxima Nova;
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/ProximaNova/ProximaNova-Light.otf); }

@font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ProximaNova/ProximaNova-Regular.otf); }

@font-face {
  font-family: Proxima Nova;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/ProximaNova/ProximaNova-Semibold.otf); }

@font-face {
  font-family: Proxima Nova;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ProximaNova/ProximaNova-Bold.otf); }

body {
  margin: 0;
  color: #273758;
  font: 300 16px "Proxima Nova", sans-serif; }
  body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }

img {
  display: block;
  width: 100%; }

h1 {
  line-height: 1.25em;
  font-weight: 300; }

h3 {
  line-height: 1.5em;
  font-weight: 300; }

p {
  line-height: 1.5em; }

.container {
  max-width: 960px;
  padding: 0.1px 15px;
  margin: 0 auto; }
  .container .row {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1em;
    margin-bottom: 1em; }
    .container .row .col-1 {
      padding: 10px; }
    .container .row .col-2 {
      float: left;
      width: 50%;
      padding: 10px; }
      @media only screen and (max-width: 768px) {
        .container .row .col-2 {
          width: 100%; } }
    .container .row .col-3 {
      float: left;
      width: 33.33333%;
      padding: 10px; }
      @media only screen and (max-width: 768px) {
        .container .row .col-3 {
          width: 100%; } }
    .container .row .col-4 {
      float: left;
      width: 25%;
      padding: 10px; }
      @media only screen and (max-width: 768px) {
        .container .row .col-4 {
          width: 50%; } }
    .container .row .col-image, .container .row .col-content {
      float: right;
      width: 50%;
      padding: 10px; }
      @media only screen and (max-width: 768px) {
        .container .row .col-image, .container .row .col-content {
          width: 100%; } }

.btn, .btn-large {
  -webkit-appearance: none;
  height: 36px;
  margin: 0;
  padding: 10px 15px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #273759;
  background-color: transparent;
  border: solid thin #273759;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer; }
  .btn.rounded, .rounded.btn-large {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px; }

.btn-large {
  height: 48px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 300; }
  .btn-large.rounded {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px; }

.btn-color {
  color: #ffffff;
  background-color: #50d869;
  border: none; }

.list {
  padding-left: 15px; }
  .list li {
    padding: 0.25em 0; }
  .list.no-style {
    list-style: none;
    padding-left: 0; }

.bg-color {
  background-color: #f3f5f2 !important; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.center {
  text-align: center; }

.clear {
  clear: both; }

.header {
  height: 90px;
  line-height: 90px;
  background-color: #f3f5f2; }
  .header .logo {
    height: 90px;
    width: 200px;
    background: transparent url(../images/logo.png) left/120px auto no-repeat; }
  .header .nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #7d94b4; }
    @media only screen and (max-width: 768px) {
      .header .nav-bar {
        display: none; } }
    .header .nav-bar li {
      float: left;
      padding: 0 15px;
      cursor: pointer; }
  .header .login-button {
    margin-top: 27px; }
    @media only screen and (max-width: 768px) {
      .header .login-button {
        display: none; } }

@media only screen and (max-width: 768px) {
  .main .btn {
    display: block;
    margin: 0 auto; } }

.footer {
  color: #ffffff;
  background-color: #575757; }

.home-section-1 {
  min-height: 610px;
  text-align: center;
  background: transparent url(../images/hero.png) no-repeat;
  background-position: center bottom -130px;
  background-size: auto; }
  @media only screen and (max-width: 768px) {
    .home-section-1 {
      min-height: 510px;
      background-position: center bottom;
      background-size: 100% auto; } }

.home-section-2 .container {
  background: transparent url(../images/p1_section1.png) no-repeat; }

.home-section-3 .container {
  background: transparent url(../images/p1_section2.png) no-repeat; }

.home-section-4 .container {
  background: transparent url(../images/p1_section3.png) no-repeat; }

.home-section-2, .home-section-3, .home-section-4 {
  border-bottom: solid thin #c3cbd6; }
  .home-section-2 .col-image, .home-section-3 .col-image, .home-section-4 .col-image {
    opacity: 0; }
    @media only screen and (max-width: 768px) {
      .home-section-2 .col-image, .home-section-3 .col-image, .home-section-4 .col-image {
        opacity: 1; } }
  .home-section-2 .container, .home-section-3 .container, .home-section-4 .container {
    background-position: right bottom;
    background-size: 50% auto; }
    @media only screen and (max-width: 768px) {
      .home-section-2 .container, .home-section-3 .container, .home-section-4 .container {
        background: none; } }

.patient-section-1 {
  text-align: center;
  background-color: #f3f5f2; }
  .patient-section-1 .container {
    padding: 40px 15px; }
    @media only screen and (max-width: 768px) {
      .patient-section-1 .container {
        padding: 0.1px 15px; } }
  .patient-section-1 p {
    margin: 30px 0; }
  .patient-section-1 .app-store-button, .patient-section-1 .google-play-button {
    display: inline-block;
    width: 155px;
    height: 54px;
    margin: 0 5px; }
    @media only screen and (max-width: 768px) {
      .patient-section-1 .app-store-button, .patient-section-1 .google-play-button {
        display: block;
        margin: 5px auto; } }
  .patient-section-1 .app-store-button {
    background: transparent url(../images/appstore.png) center no-repeat; }
  .patient-section-1 .google-play-button {
    background: transparent url(../images/googleplay.png) center no-repeat; }

.patient-section-2, .patient-section-3 {
  background-color: #f3f5f2; }

.patient-section-2 .container {
  display: table;
  min-height: 420px;
  background: transparent url(../images/p2_a.png) no-repeat;
  background-position: right 15px center;
  background-size: 60% auto; }
  @media only screen and (max-width: 768px) {
    .patient-section-2 .container {
      min-height: 0;
      padding-top: 260px;
      background-position: center top 40px;
      background-size: auto 200px; } }
  .patient-section-2 .container .content {
    display: table-cell;
    width: 40%;
    padding-right: 60%;
    vertical-align: middle; }
    @media only screen and (max-width: 768px) {
      .patient-section-2 .container .content {
        display: block;
        width: 100%;
        padding-right: 0; } }

.patient-section-3 .container {
  display: table;
  min-height: 470px;
  background: transparent url(../images/p2_b.png) no-repeat;
  background-position: right 15px center;
  background-size: 50% auto; }
  @media only screen and (max-width: 768px) {
    .patient-section-3 .container {
      min-height: 0;
      padding-top: 440px;
      background-position: center top 40px;
      background-size: auto 400px; } }
  .patient-section-3 .container .content {
    display: table-cell;
    width: 50%;
    padding-right: 50%;
    vertical-align: middle; }
    @media only screen and (max-width: 768px) {
      .patient-section-3 .container .content {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-bottom: 30px; } }

.patient-section-4 .container {
  padding: 40px 15px; }
.patient-section-4 .row {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 1em;
  margin-bottom: 1em; }
  .patient-section-4 .row .col {
    float: left;
    width: 50%;
    padding: 10px 10px; }
    @media only screen and (max-width: 768px) {
      .patient-section-4 .row .col {
        width: 100%; } }
    .patient-section-4 .row .col:nth-of-type(1) .icon {
      background: #f3f5f2 url('../images/icon1.png') center no-repeat; }
    .patient-section-4 .row .col:nth-of-type(2) .icon {
      background: #f3f5f2 url('../images/icon2.png') center no-repeat; }
    .patient-section-4 .row .col:nth-of-type(3) .icon {
      background: #f3f5f2 url('../images/icon3.png') center no-repeat; }
    .patient-section-4 .row .col:nth-of-type(4) .icon {
      background: #f3f5f2 url('../images/icon4.png') center no-repeat; }
.patient-section-4 .icon {
  float: left;
  background-color: #f3f5f2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px; }
  @media only screen and (max-width: 768px) {
    .patient-section-4 .icon {
      float: none;
      margin: 0 auto 20px; } }
.patient-section-4 .content {
  margin-left: 120px;
  padding: 0 10px 0 20px; }
  @media only screen and (max-width: 768px) {
    .patient-section-4 .content {
      margin-left: 0; } }
  .patient-section-4 .content h3 {
    margin-top: 0; }

.professionals-section-5, .professionals-section-6, .professionals-section-7 {
  border-bottom: solid thin #c4cbd8; }


/*# sourceMappingURL=app.css.map*/